@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.recharts-surface:focus {
  outline: none;
}

.recharts-surface *:focus {
  outline: none;
}

.privacy-blur {
  filter: blur(8px);
  transition: filter 0.3s ease;
  user-select: none;
  pointer-events: none;
}

.privacy-blur-chart {
  filter: blur(2px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0.9;
}

.preview-content ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.preview-content ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

.preview-content li {
  margin-bottom: 0.25rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24" fill="%233b82f6"><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  cursor: pointer;
}
